.homehot{
	background: #fff;
}
.homehot .top{
	width: 100%;
	height: 1.12rem;
	line-height: 1.12rem;
	font-size: .4rem
}
.homehot .hot::before{
	content: " ";
	float: left;
	width: .48rem;
	height: .48rem;
	margin: .29333rem .26667rem 0 .13333rem;
	background: url(../images/homehot.png) no-repeat;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.homehot .change{
	color:#999
}
.homehot .change::after{
	content: " ";
	float: right;
	width: .48rem;
	height: .48rem;
	margin: .32rem .13333rem 0;
	background: url(../images/homechange.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.homehot .hotlist{
	overflow: hidden;
	margin-bottom: 0.27rem ;
}
.homehot .con{
	position: relative;
	margin-left: 0.13rem;
	margin-bottom: 0.13rem;
}
.homehot .videoimg{
	width: 4.8rem /* 360/75 */;
	height: 2.72rem /* 204/75 */;
	background: #f00;
	display: block;
	border-radius: 0.16rem;
}
.homehot .title{
	width: 4.8rem;
	height: 0.72rem;
	font-size: .32rem;
	line-height: 0.72rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.homehot .name{
	position: absolute;
	left: 0.13rem;
	bottom: 0.85rem;
	color:#fff
}
.homehot .name::before{
	content: " ";
	float: left;
	margin-right: .08rem;
	width: .29333rem;
	height: .32rem;
	background-image: url(../images/pericon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin-top: 0.2rem
}
.homehot .pernum{
	position: absolute;
	right: 0.13rem /* 10/75 */;
	top:0.13rem;
	color:#fff;
}
.homehot .pernum::before{
	content: " ";
    display: inline-block;
    vertical-align: middle;
    margin-top: -.02667rem;
    margin-right: .08rem;
    width: .26667rem;
    height: .24rem;
    background: url(../images/pernum.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
